body, html {
    height: 100%;
    width: 100%;
    font-family: Open Sans;    
    background: url(../img/black_texture_bg.jpg)
}
body, h1, h2, h3, h4, h6 {
    font-size: 14px;
}
h5 {
    font-size: 21px;
    font-weight: bold;
}
.form-control {
    color: #333;
    border: 1px solid #000;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}
#menu {
    background: url(../img/black_texture_bg.jpg);
    //padding: 20px 0 0;
    //height: 151px;
    width: 100%;
    -moz-transition: height 1s linear;
    -o-transition: height 1s linear;
    -webkit-transition: height .5s linear;
    z-index: 100;
}
#menu.affix {
    // background: url(../img/black_texture_bg.jpg)
    //z-index: 100;
    width: 100%;
    height: 80px;
    padding: 5px 0;
    -webkit-box-shadow: 0 10px 5px -5px #777;
    -moz-box-shadow: 0 10px 5px -5px #777;
    box-shadow: 0 10px 5px -5px #777;
}
#menu.affix .grey_bottom_border {
    display:none;
}
#menu.affix .topp{
    padding: 10px 0;
}
#menu.affix .links{
    padding: 0;
}
#menu.affix .contactphone {  
    color: #f88417;
    margin-top: 5px;
    display: block;
}        
#menu.affix .btn-custom {
    display:none;
}
#menu .links{
    padding: 10px 0;
}
#menu .links a {            
    text-transform: uppercase;
    display: inline-block;
    font-family: Open Sans;
    color: #F3F6FD;
    font-weight: 600;
    margin-bottom: 11px; 
} 
#menu .links a:hover { 
    text-decoration: none;
    color: #F88417;
}
#menu p.phone {  
    font-size: 1.4em;
    //font-family: @brand-second-font;
    font-weight: 400;
    margin-bottom: 5px;
}        
#menu  .btn-default {
    font-size: 1.4em;
    //font-family: @brand-second-font;
    font-weight: 400;
    padding: 3px 20px;
}
.section-coffee{
    padding: 100px 0;
    min-height: 500px;
    background: url(../img/coffee.jpg) no-repeat center center scroll;
    -moz-background-size:cover;
    -webkit-background-size:102% auto;
    -khtml-background-size:cover;
    -o-background-size:102% auto;
    background-size:cover;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.top {
    color: #b6c6cc;
}
.btn-template-top {
    background: linear-gradient(to top, #FFDB1F, #FFF505 );
    border: medium none #FFF505;
    color: #444;
    font-size: 140%;
    margin-top: 10px;
    padding: 8px;
}
.btn-template-top:hover {
    background: linear-gradient(to top, #FFF505, #FFDB1F);
    border: medium none #FFC305;
    color: #444;
    padding: 8px;
}
.section-header {
    padding-bottom: 20px;
    text-align: center;
}
.headtitle {
    color: #7bc1ff;
    font-size: 40px;
    font-weight: 600;
    font-family: Jura;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.head_bg {
    background: url(../img/head_bg.png) no-repeat center;
    height: 550px;
}

.conact1 {
    color: #666666;
    font-family: PT Sans Narrow;
    font-size: 130%;
    font-weight: 100;
}
.contactphone {
    font-size: 24px;
    font-weight: 400;
    color: white;
}
.contactmail a {
    color: #CC3333;
    font-size: 130%;
    text-decoration: underline;
}
.mailtop {
    margin-right: 10px;
}
.grey-title {
    font-family: Jura;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.blue-title {
    color: #7bc1ff;
    font-family: Jura;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.white-title {
    font-size: 36px;
    font-family: Jura;
    color: #f3f6fd;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 30px 0;
}
.intro-message {
    padding-bottom: 20%;
    padding-top: 20%;
    position: relative;
}
.intro-message > h1 {
    font-size: 5em;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.intro-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid #F8F8F8;
    width: 400px;
}
.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}
.network-name {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-line01 {
    padding: 0px 0 50px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: #f3f6fd;
}
.line-icon {
    margin-bottom: 10px;
    margin: auto;
}
.section-mark {
    background: #fff;
    height: 333px;
    padding: 50px 0;
}
.section-engine-kpp {
    padding: 50px 0;
    background-color: #010101;
}
.engine-text {
    color: #333;
    font-size: 18px;
}
.part-block {
    background: #fff;
    border: 3px solid #848385;
    background-size: 100%;
    padding: 18px;
    border-radius: 5px;
    text-align: center;
}
.part-block p {
    font-size: 15px;
    font-weight: 600;
}
.category-block {
    padding: 20px 0;
}
.car-part {
    margin-bottom: 20px;
}
.btn-sknow {
    background: url(../img/know_sbtn.png) no-repeat center center;
    padding: 10px 26px;
}
.section-kuzov-part {
    background: url(../img/grey_bg.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 50px 0;
}
.section-discount .container {
    padding: 50px 0;
}
.discount-bg {

}
.sell {
    background-color: rgba(0, 0, 0, 0.75);
    border-color: #000;   
    color: #F9BF4B;
}
.timer-digits {
    padding: 140px 0 30px;
}
.timer-text {
    padding: 0 0 40px;
    margin-top: -70px;
}
.section-how-work {
    padding: 50px 0 50px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: #f3f6fd;    
}
.section-why {
    background: url(../img/white_grey_bg.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 50px 0 50px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.section-comments {
    padding: 50px 0;
}
.comment-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #f3f6fd;
}
.comment-block {
    display: inline-table;
    height: 210px;
}
.comment-cell {
    display: table-cell;
    vertical-align: middle;
}
.section-crew {
    background: #f3f6fd;
    padding: 50px 0;
}
.crew-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #000;
}
.section-comments {
    padding: 50px 0;
}
.section-contact {
    padding: 50px 0;
}
.bottom-text {
    color: #f3f6fd;
    font-size: 26px;
    font-weight: 600;
}
.bottom-line {
    padding-top: 30px;
}
.btn-question {
    background: url(../img/btn_bottom.png) no-repeat center center;
    padding: 55px 180px;
}
.section-heading {
    margin-bottom: 10px;
}
.section-heading-spacer {
    border-top: 3px solid #E7E7E7;
    float: left;
    width: 200px;
}
.banner {
    background: url("../img/banner-bg.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    color: #F8F8F8;
    padding: 100px 0;
}
.banner h2 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.banner ul {
    margin-bottom: 0;
}
.banner-social-buttons {
    float: right;
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    .banner h2 {
        font-size: 3em;
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
footer {
    //background-color: #899ba3;

    padding: 14px 0;
}
footer p {
    font-size: 18px;
}
footer img {
    margin-bottom: 0;
    padding: 0 10px;
}
.backwhite {
    background: none repeat scroll 0 0 #E0E0E0;
    color: #012231;
    font-size: 32px;
    margin-top: -11px;
    padding-bottom: 40px;
    font-weight: bold;
}
.backwhite_b {
    background: none repeat scroll 0 0 #d1d7db;
    color: #012231;
    font-size: 32px;
    margin-top: -11px;
    padding-bottom: 40px;
    font-weight: bold;
}
.backwhite_c {
    background: none repeat scroll 0 0 #fff;
    color: #012231;
    font-size: 32px;
    font-weight: bold;
    margin-top: -11px;
    padding-bottom: 40px;
}
.picc {
    margin: auto;
    padding-bottom: 36px;
    padding-top: 37px;
}
.piclr {
    margin: auto;
    padding-bottom: 36px;
    padding-top: 17px;
}
.tfont {
    color: #B07150;
    font-family: Segoe UI;
}
.titleb {
    font-family: Segoe UI;
    font-size: 200%;
    font-weight: lighter;
    padding-bottom: 50px;
}
.textb {
    color: #666666;
}
.picb {
    height: 110px;
    margin: auto;
}
.textc p {
    color: #666666;
    height: 100px;
}
.picc {
    height: 200px;
    margin: auto;
    margin-top: -40px;
}
.textw p {
    color: #666666;
    height: 100px;
}
.picw {
    margin: auto;
    padding-bottom: 36px;
    padding-top: 37px;
}
.bs-review {
    border: 1px solid #D38080;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px 50px;
}
.revcon {
    color: #CC6666;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.revtxt {
    font-size: 1.3em;
}
.head-form {    
    float: right;
    margin-top: 60px;
    text-align: left;
    width: 375px;    
}
.form_title {    
    font: 28px 'Jura',sans-serif;
    color: #f3f3f3;
    font-weight: 500;
    outline: 0 none;
    text-shadow: 0px 0px 13px #7BC1FF;

}
.head-form p {
    font-size: 1.3em;
    margin-left: 10px;
    text-shadow: 0 1px #FFFFFF, 1px 1px #FFFFFF, 1px 1px #FFFFFF, 1px 0 #FFFFFF;
}
.btn-head-form {
    background: linear-gradient(to top, #FFDB1F, #FFF505 );
    border: medium none #FFF505;
    color: #444;
    margin-left: 17px;
    padding: 8px 60px;
}
.btn-head-form:hover {
    background: linear-gradient(to top, #FFF505, #FFDB1F);
    border: medium none #FFC305;
    color: #444;
}
.btn-head-block {
    position: relative;
}
.head-inputs {
    margin: auto;
    width: 300px;
}
.input-templ_name {
    background: none repeat scroll 0 0 #08141D;
    border: 1px solid #999999;
    font-size: 1.4em;
    height: 40px;
    padding-left: 35px;
    background-image: url(../img/form_name_ico.png) !important;
    background-repeat: no-repeat  !important;
    background-position: 9px  !important;
}
.input-templ_tel {
    background: none repeat scroll 0 0 #08141D;
    border: 1px solid #999999;
    font-size: 1.4em;
    height: 40px;
    padding-left: 35px;
    background-image: url(../img/form_tel_ico.png) !important;
    background-repeat: no-repeat !important;
    background-position: 9px  !important;
}
.input-templ_email {
    background: none repeat scroll 0 0 #08141D;
    border: 1px solid #999999;
    font-size: 1.4em;
    height: 40px;
    padding-left: 35px;
    background-image: url(../img/form_email_ico.png) !important;
    background-repeat: no-repeat  !important;
    background-position: 9px  !important;
}
.form-templ {
    margin-bottom: 11px;
}
.form-control:focus {
    border-color: #CC6666;
    box-shadow: 0 0 13px #CC6666;
    outline: 0 none;
}
.head-form-text {
    color: #289cd8;
    font-size: 22px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: 300px;
}
.modal-dialog {
    width: 322px !important;
    padding: 35px;
}
.modal-body {
    padding: 0px 20px 23px 20px;
    position: relative;
}
.mod-inputs {
    position: relative;
    margin-top: 41px;
    margin-left: 9px;
}
.modal-header {
    padding: 25px 15px 15px 15px;
    border: medium none;
}
.close {
    color: black;
}
.white{
    color: white;
}
.agree {
    font-size: 1.3em;
    right: 40%;
    width: 200%;
}
.agree-title {
    font-size: 1.4em;
}
.agreea a {
    color: #f3f6fd;
    cursor: pointer;
    font-size: 1.3em;
}
.sectb hr {
    border-color: #CCCCCC;
}
.ourserv {
    display: inline-block;
}
.ourserv p {
    top: 45px;
    position: relative;
}
.pic_pack {
    position: absolute;
    top: 0;
    left: 14px;
}
.star_line {
    color: #ddd;
}
.pb_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #44A6D9;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 22px #888;
}
.pb_inner_red {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #D32C2E;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 22px #888;
}

.pb_inner p, .pb_inner_red p {
    height: 240px;
    padding-top: 25px;
}
.price {
    margin-bottom: 35px;
    font-size: 22px;
}
.price_page {
    font-size: 16px;
}
.btn_bg {
    background: none repeat scroll 0 0 #f2f2f2;
    bottom: 6px;
    left: 20px;
    position: absolute;
    width: 275px;
    height: 85px;
    padding-top: 20px;
}
.price-box {
    padding: 0 14px;
}
.intro_text_2 {
    color: white;
    font-size: 24px;
    text-align: left;
    padding-top: 65px;
}
.yellow_text {
    color: #fee903;
}
.intro-bottom {
    background-image: url("../img/bottom_bg.jpg");
    background-position: center center;
    color: #444;
    height: 589px;
    padding-bottom: 20px;
    padding-top: 0;
    text-align: center;
}
.intro_text_bottom {
    color: white;
    font-size: 24px;
    text-align: left;
    padding-top: 80px;
}
.bottom_action {
    background: rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 20px 0;
}
.bottom_action_text {
    color: white;
    font-size: 26px;
}
.bottom-form {
    color: #444444;
    float: right;
    margin-top: 35px;
    text-align: left;
    width: 375px;
}
.foot {
    height: 110px;
    background: #012231;
    color: #b6c6cc;
}
.remain {
    font-size: 20px;
    text-align: left;
    color: #ccc;
}
.hms {
    color: #333333;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -25px;
    position: relative;
    width: 550px;
    word-spacing: 60px;
    z-index: 9;
    font-weight: bold;
    text-shadow: 1px 1px #ddd;
}
.hmsb {
    color: #CCCCCC;
    font-size: 20px;
    margin-left: -75px;
    margin-top: -25px;
    word-spacing: 26px;
}
.modal-content {
    background: url("../img/top_form_bg.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    width: 260px;
    height: 334px;
}
.modal-content {   
    height: auto;    
}
.input-group .form-control {
    background: url("../img/input_form_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-radius: 5px !important;
    height: 32px;
    padding: 0 0 0 15px;
}
.space_top_40 {
    margin-top: 40px;
}
.top-form-bg {
    background: url(../img/top_form_bg.png) no-repeat top;
    padding: 0px 0 70px;
    margin-right: 20px;
}
.top-form-inputs {
    #border: 1px solid #fff;
    width: 210px;
    margin: 25px 0 0 84px;
}
.input-group .form-control {
    background: url("../img/input_form_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-radius: 5px !important;
    height: 32px;
    padding: 0 0 0 15px;
}
.modal-header .close {
    position: relative;
    z-index: 9;
}
.modin-templ-name {
}
.modin-templ-tel {
}
.modin-templ-email {
}
.modal-form-templ {
}
.mhead-form-text {
    color: #f3f6fd;
    font-size: 18px;
    padding: 0 100px 15px 0px;
    position: relative;
    text-align: center;
    width: 300px;
    margin-top: -15px;
}
.grey_bottom_border {
    background: url(../img/top_line.png) no-repeat bottom;
    opacity: 0.3;
    position: fixed;
    left: 0;
}

.carousel-comment-caption {
    border: 1px solid #eee;
    position: relative;
    top: -175px;
    width: 70%;
    left: 220px;
    border-radius: 10px;
}
.carousel-comment {
    height: 50%;
    position: relative;
}
.carousel-comment-inner {
    height: 205px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.carousel-comment-inner > .item {
    display: none;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
}
.carousel-comment-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1;
    max-width: 100%;
}
.carousel-comment-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}
.carousel-comment-inner > .active {
    left: 0;
}
.carousel-comment-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}
.carousel-comment-inner > .next {
    left: 100%;
}
.carousel-comment-inner > .prev {
    left: -100%;
}
.carousel-comment-inner > .next.left, .carousel-inner > .prev.right {
    left: 0;
}
.carousel-comment-inner > .active.left {
    left: -100%;
}
.carousel-comment-inner > .active.right {
    left: 100%;
}

.comment-fill {
    margin-left: 15px;
}
.comment_face {
    margin-right: 26px;
}
.comment-text {
    color: #f3f6fd;
    position: relative;
    text-shadow: none;
    text-align: left;
    padding: 35px;
}
.comment-img {    
    padding: 35px;
}
.carousel-caption {
    border: 1px solid #ccc;
    position: relative;
    top: -175px;
    width: 70%;
}

.item, .active, .carousel-inner {
    height: 100%;
}

.icon-prev-comment {
    background: url("../img/arrow_left_comment.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 60px !important;
    margin-left: -55px;
    margin-top: 20px;
    outline: medium none !important;
    width: 70px !important;
}
.icon-next-comment {
    background: url("../img/arrow_right_comment.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 60px !important;
    margin-top: 20px;
    outline: medium none !important;
    width: 70px !important;
    margin-right: -30px;
}
.carousel-indicators {
    display: none;
}
.logo-block {
    display: inline-table;
    height: 210px;
    margin-top: 35px;
}
.dig-bg {
    position: relative;
    top: 0;
    left: 17px;
    z-index: 0;
}
.top-50 {
    margin-top: 50px;
}
.kofe-block {
}
.kofe-pic {
    margin: auto;
}
.kofe-text {
    position: relative;
    text-align: center;  
    color: #f9bf46;
    font-family: Jura;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.75);
    border-color: #000;
}
.section-discount {
    position: relative;
}
#countdown {
    width:510px;
}
/* Видеофон*/
#video-container {
    position: absolute;
}
#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
}
video {
    position:absolute;
    z-index:0;
}
video.fillWidth {
    width: 100%;
}

.btn-custom {
    background-color: #f88417 !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcb54", endColorstr="#f88417");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffcb54), to(#f88417));
    background-image: -moz-linear-gradient(top, #ffcb54, #f88417);
    background-image: -ms-linear-gradient(top, #ffcb54, #f88417);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcb54), color-stop(100%, #f88417));
    background-image: -webkit-linear-gradient(top, #ffcb54, #f88417);
    background-image: -o-linear-gradient(top, #ffcb54, #f88417);
    background-image: linear-gradient(#ffcb54, #f88417);
    border-color: #f48b28 #f48b28 hsl(29, 91%, 50.5%);
    color: #000000 !important;
    font-family: Open Sans;
    font-size: 19px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-font-smoothing: antialiased;
}
.btn-custom:hover{
    background-position: 0 -15px;
}

.bottom-text .glyphicon {
    color: #F88417;
}

.form-group {
    padding-left: 10px;
    padding-right: 10px;
}
.form-horizontal .has-feedback .form-control-feedback {        
    right: 10px;
}
.modal-dialog h4 {
    font: 28px 'Jura',sans-serif;
    color: #f3f3f3;
    font-weight: 500;
    outline: 0 none;
    text-shadow: 0px 0px 13px #7BC1FF;
}
#security{
    margin-top:20px;
}

#security .glyphicon-lock {
    color: #2bb03f;
    font-size: 25px;
}
#security p {
    font-size: 11px;
    margin-bottom: 0px;
    color: #f3f3f3;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
.form-horizontal {
    width: 240px;
    margin-left: 10px;
}
.browsehappy {       
    width: 40%
        border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);    
    padding: 19px;    
    position: relative;
    text-align: center;
    color: #F9BF46;
    font-family: Jura;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.75);

}

#flexiselDemo1 {
    display:none;
}

.nbs-flexisel-container {
    position:relative;    
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;  
    height: 90px;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:93px;
    max-height:70px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 70px;
    height: 60px; 
    position: absolute;
    cursor: pointer;
    z-index: 50;
    opacity: 0.5;
}
.nbs-flexisel-nav-left:hover,
.nbs-flexisel-nav-right:hover {
    color: #FFF;
    text-decoration: none;
    opacity: .9;
}
.nbs-flexisel-nav-left {
    left: -50px;
    background: url("../img/arrow_left_comment.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.nbs-flexisel-nav-right {
    right: -60px;
    background: url("../img/arrow_right_comment.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.logo1-block {
    margin-top: 35px;
}
@media (max-width: 768px) {
    #menu.affix {        
        position: relative;
    }    
    .topp {
        padding: 10px 0;
    }
    #menu img {
        margin: 13px auto 0;
    }
    #menu .links {
        padding: 10px 0;
    }
    #menu .links a {               
        font-size: 12px; 
        margin-bottom: 5px;
    }
    .contactphone {
        font-size: 20px;
        margin-top: -4px;
    }
    .btn-custom {
        font-size: 13px;
    }
    .headtitle {       
        font-size: 24px;        
    }
    .head-form {
        width: 260px;
    }
    .top-form-bg {
        margin-right: auto;
        margin-left: auto;
    }
    .top-form-inputs {
        margin: 25px 0 0 25px;
    }
    .grey-title {        
        font-size: 26px;        
    }
    .blue-title {        
        font-size: 26px;       
    }
    .white-title {
        font-size: 26px;       
    }
    .section-header {
        padding-bottom: 0px;       
    }
    .section-line01 {
        padding: 0px 0 25px;        
    }
    .section-mark {       
        height: 286px;
        padding: 25px 0;
        overflow: hidden;
    }
    .section-engine-kpp {
        padding: 25px 0; 
    }
    .engine-text {
        font-size: 14px;
    }
    .top-50 {
        margin-top: 25px;
    }
    .top-25 {
        margin-top: 25px;
    }
    .section-kuzov-part {        
        padding: 0px 0 25px;
    }
    .category-block {
        padding: 25px 0;
    }
    .bottom-25 {
        margin-bottom: 25px;
    }
    .bottom-xs-25{
        margin-bottom: 25px;
    }
    .modal-dialog {
        width: 290px !important;
        padding: 15px;
    }
    .section-discount .container {
        padding: 25px 15px;
    }
    #video-container {
        padding: 0 0;
        background: url(../video/poster.jpg) no-repeat center center scroll;
        -moz-background-size: cover;
        -webkit-background-size: 102% auto;
        -khtml-background-size: cover;
        -o-background-size: 102% auto;
        background-size: cover;
    }
    .section-how-work {
        padding: 25px 0 25px;       
    }
    .section-why {
        padding: 25px 0 25px;        
    }
    .section-comments {
        padding: 25px 0;
    }
    .comment-img {
        padding: 15px;
    }
    .comment-block {       
        height: auto;
    }
    .comment-text {       
        font-size: 15px;
        padding: 15px;
    }
    .section-crew {
        padding: 25px 0;
    }
    blockquote {
        font-size: 16px;
    }
    .section-contact {
        padding: 25px 0;
    }
}
@media (min-width: 768px) {
    .grey_bottom_border {
        padding: 73px 0 0 0;       
    }
    .top {
        height: 88px;
    }
    .topp {
        padding: 10px 0;
    }
   #menu img {
        margin-top: 23px;
    }
    #menu.affix img {
        margin-top: 13px;
    }
    #menu .links {
        padding: 10px 0;
    }
    #menu .links a {               
        font-size: 12px; 
        margin-bottom: 5px;
    }
    .contactphone {
        font-size: 20px;
        margin-top: -4px;
    }
    .btn-custom {
        font-size: 13px;
    }
    .headtitle {       
        font-size: 34px;        
    }
    .top-form-bg {        
        margin-right: -30px;
    }
    .grey-title {        
        font-size: 26px;        
    }
    .blue-title {        
        font-size: 26px;       
    }
    .white-title {
        font-size: 26px;       
    }
    .section-header {
        padding-bottom: 0px;       
    }
    .section-line01 {
        padding: 0px 0 25px;        
    }
    .section-mark {       
        height: 212px;
        padding: 25px 0;
    }
    .section-engine-kpp {
        padding: 25px 0; 
    }
    .engine-text {
        font-size: 14px;
    }
    .top-50 {
        margin-top: 0px;
    }
    .top-25 {
        margin-top: 25px;
    }
    .section-kuzov-part {        
        padding: 0px 0 25px;
    }
    .category-block {
        padding: 25px 0;
    }
    .bottom-25 {
        margin-bottom: 25px;
    }
    .section-discount .container {
        padding: 25px 15px;
    }
    #video-container {
        padding: 0 0;
        background: url(../video/poster.jpg) no-repeat center center scroll;
        -moz-background-size: cover;
        -webkit-background-size: 102% auto;
        -khtml-background-size: cover;
        -o-background-size: 102% auto;
        background-size: cover;
    }
    .section-how-work {
        padding: 25px 0 25px;       
    }
    .section-why {
        padding: 25px 0 25px;        
    }
    .section-comments {
        padding: 25px 0;
    }
    .comment-img {
        padding: 15px;
    }
    .comment-block {       
        height: auto;
    }
    .comment-text {       
        font-size: 15px;
        padding: 15px;
    }
    .section-crew {
        padding: 25px 0;
    }
    blockquote {
        font-size: 16px;
    }
    .section-contact {
        padding: 25px 0;
    }
}
@media (min-width: 992px) {
    .grey_bottom_border {
        padding: 95px 0 0 0;       
    }
    .top {
        height: 110px;
    }
    .topp {
        padding: 20px 0;
    }
    #menu img {
        margin-top: 13px;
    }
    #menu.affix img {
        margin-top: 0px;
    }
    #menu .links {
        padding: 10px 0;
    }
    #menu .links a {               
        font-size: 12px; 
        margin-bottom: 11px;
    }
    .contactphone {
        font-size: 24px;
        margin-top: 0px;
    }
    .btn-custom {
        font-size: 19px;
    }
    .headtitle {       
        font-size: 40px;        
    }
    .top-form-bg {        
        margin-right: 20px;
    }
    .grey-title {        
        font-size: 36px;        
    }
    .blue-title {        
        font-size: 36px;       
    }
    .white-title {
        font-size: 36px;       
    }
    .section-header {
        padding-bottom: 20px;       
    }
    .section-line01 {
        padding: 0px 0 50px;        
    }
    .section-mark {       
        height: 333px;
        padding: 50px 0;
    }
    .section-engine-kpp {
        padding: 50px 0; 
    }
    .engine-text {
        font-size: 18px;
    }
    .top-50 {
        margin-top: 0px;
    }
    .top-25 {
        margin-top: 50px;
    }
    .section-kuzov-part {        
        padding: 50px 0;
    }
    .category-block {
        padding: 20px 0;
    }
    .bottom-25 {
        margin-bottom: 0px;
    }
    .section-discount .container {
        padding: 50px 0;
    }  
    .section-how-work {
        padding: 50px 0 50px;       
    }
    .section-why {
        padding: 50px 0 50x;        
    }
    .section-comments {
        padding: 50px 0;
    }
    .comment-img {
        padding: 35px;
    }
    .comment-block {       
        height: auto;
    }
    .comment-text {       
        font-size: 18px;
        padding: 35px;
    }
    .section-crew {
        padding: 50px 0;
    }
    blockquote {
        font-size: 17.5px;
    }
    .section-contact {
        padding: 50px 0;
    }
}
@media (min-width: 1200px) {   
    #menu .links a {        
        font-size: 15px;
    }
}
